/* Write your CSS here */

.card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #2d3a35;
  font-family: roboto;
  text-align: center;
}
.counter {
  color: #c20a72;
  font-family: roboto;
}

.para {
  color: #2d3a35;
  font-weight: 600;
}
.button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  width: 100px;
  border-width: 0px;
  border-radius: 5px;
}
